element {
    --main-blue-color: #373cf5;
}
.header .navbar-nav .nav-item.active .nav-link, .header .navbar-nav .nav-item .nav-link:hover, header.pb .header .navbar-nav .nav-item .nav-link:hover, .view-btn, .face.front, .bottom-list ul li a:hover, .card .card-body h3:hover, .card:hover .card-body h3, .post-nfo li:not(:first-child):hover, .post-nfo li:not(:first-child):hover a, .blog-single-post:hover .post_info > h3 a, .cm-reply, .widget-search form button, .widget-catgs ul li a, .ps-info > h3 a:hover, .btn1, .blog-grid-posts .post_info > a:hover, .cont-links li a, .cont-links li span, .socio-links li a:hover, .cont_info li i, .cont_info li a, .social_links li a:hover, .view-change ul.nav-tabs .nav-link.active, .card_bod_full .card-footer .btn-default, .btn-default, .sidebar.layout2 .ps-info > strong, .more-feat i, .contct-nf > span, .apartment-sec .rate-info h5, .comment-info:before, .price > h2, .agent_info > strong, .agent:hover .agent_info h3 a, .list-products .card:hover .card-body h3, .social-links li a:hover, .slick-prev:focus, .slick-next:focus, .slick-prev:before, .slick-next:before, .banner_text .card .card-footer > a, .catg-icon > i, .map-city-links ul li a:hover, a.link, .selected, .dropdown-item.active, .dropdown-item:active, .post-share > a:hover, .h-card-body .title, body ul.post-nfo a:hover, .header .navbar-nav .signin-btn a:hover, .h-page-card .title a:hover {
    color: #6a7be7;
}

.header .navbar-nav .nav-item {
    text-decoration: none;
    margin-right: 27px;
}
a,.dropdown-item,.drop-menu,.drop-menu .select i,.wrapper:before,.popup,.price,.price > h4,.agent_info > h3,.slick-prev,.slick-next,.categories-info,.catg-icon > i,.categories-info > h3,.overlay-stick,.map-city-links ul li a,.header .navbar-nav .nav-item .nav-link,.drop-menu .select .currency,.drop-menu .dropeddown li,.card .img-block:before,.card .img-block:after,.popular-cities .card:before,.popular-cities .card:after,.banner-search .btn:before,.banner-search .btn:after,.intro-content a:before,.intro-content a:after,.sbmt-btn:before,.sbmt-btn:after,.btn2:before,.btn2:after,.btn-default:before,.btn-default:after,.card .img-block .overlay,.srch-btn .overlay,.card .card-body h3,.explore-feature .card .card-body i,.popular-cities .card .overlay,.popular-cities .card .card-body i,.map-box h4 a,.infoBox-close,.map-box-icon,.marker-card,#geoLocation,#mapnav-buttons a,#scrollEnabling,#streetView,.bottom-list ul li a,.footer-social a,.alert-success,.post-nfo li,.post-nfo li a,.post_info > h3 a,.blog-img:before,.agent_img:before,.widget-catgs ul li a,.widget-catgs ul li a span,.ps-info > h3 a,.widget-tags > ul li a,.btn1,.blog-single-post:hover .view-post,.agent:hover .view-post,.socio-links li a,.social_links li a,.btn-default,.card .card-footer a .la-heart-o,.partner-logo > a img,.signin-btn b:before,.model-item .title,.h-page-card .title a,.btn,.currency-selector .drop-menu .dropeddown li,.language-selector .drop-menu .dropeddown li {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    will-change: all;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.menu-button {
    width: 30px;
    background-color: inherit;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

.header .navbar-brand {
    margin-right: 69px;
    margin-top: 6px;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.header .navbar-brand img {
    max-width: 150px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.header .navbar {
    white-space: nowrap;
    flex-flow: row wrap;
}
.header .navbar {
    padding: 27px 0px;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.leftheader{
    transition-duration: 0.3s;
    color: black;
    text-decoration: none;
}
.leftheader:hover{
    transition-duration: 0.3s;
    color: var(--main-blue-color);
    text-decoration: none;
}
.nav-item.submit-btn {
    transition-duration: 0.3s;
    border: solid 1px !important;
    border-radius: 20px !important;
    padding: 5px 20px !important;
    color: black;
    text-decoration: none;
}
.nav-item.submit-btn:hover {
    transition-duration: 0.3s;
    border: solid 1px !important;
    border-radius: 20px !important;
    padding: 5px 20px !important;
    background: #373cf5;
    text-decoration: none;
}
.nav-item.submit-btn:hover .spanitem{
    transition-duration: 0.3s;
    color: white;
    text-decoration: none;
}
.nav-item.submit-btn:hover .icon-plus{
    transition-duration: 0.3s;
    color: white;
    text-decoration: none;

}
.dropdown-menu.animated {
    display: none;
}
div#navbarSupportedContent {
    place-content: space-between;
}

b.reg-op {
    color: black;
    text-decoration: none;
}
b.reg-op:hover {
     text-decoration: none;
     color: var(--main-blue-color);
}
b.signin-op {
    color: black;
    text-decoration: none;
}
b.signin-op:hover {
     text-decoration: none;
     color: var(--main-blue-color);
}

.my-2.my-sm-0.nav-link.sbmt-btn{
    text-decoration: none;
}