*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.wpart {
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: left;
    width: 100%;
}

.banner.widget_edit_enabled {
    background-size: cover;
    background: no-repeat;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    display: block;
    float: left;
    width: 100%;
    padding: 200px 0px;
    background-size: cover;
    background: #0000008c;
    background:linear-gradient(rgba(0, 0, 0, 0.63),  rgba(0, 0, 0, 0.623)), url("https://static.wixstatic.com/media/94bdda_5d66cfc7ad3a4b358c24b779885f02a8~mv2.jpg") center;
    min-height: 674px;
    z-index: 1;
    position: relative;
}
.banner {
    padding: 200px 0px !important;
    background: linear-gradient(rgba(0, 0, 0, 0.63),  rgba(0, 0, 0, 0.623)),url("https://static.wixstatic.com/media/94bdda_5d66cfc7ad3a4b358c24b779885f02a8~mv2.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    min-height: 674px !important;
    position: relative !important;
    z-index: 1 !important;
}
section div .container {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    padding: 0 15px;
}

.banner-content {
    -webkit-text-size-adjust: 100%;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-bottom: 65px;
}
.title-banner {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 44px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-bottom: 33px;
    margin-top: 49px;
    border-radius: 17px;
}

.row.banner-search.search-form.top-search.banner-search_init {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    position: relative;
    background: transparent;
    border-radius: 0;
    padding: 0;
    height: initial;
    box-shadow: initial;
    display: flex !important;
}

.banner-search_box.banner-search.row {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: #fff;
    border-radius: 50px;
    padding: 0px 7px 0px 10px;
    height: 65px;
    width: 100%;
    display: flex !important;
    margin: 0;
    flex-wrap: nowrap;
}

.form_field {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: left;
    flex: 1 2 auto;
}

.winter_dropdown_tree.color-secondary {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    min-width: initial;
    position: relative;
    margin: 8px 0px 6px 0px;
    border-left: 1px solid #e0e1e6;
    height: 51px;
    background: transparent;
}

.btn-group {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: 0;
}

.btn.btn-default.color-secondary {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: all 0.4s linear;
    text-transform: capitalize;
    -webkit-appearance: button;
    flex: 0 1 auto;
    padding: 0 36px;
    box-shadow: none;
    float: none;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 48px;
    border: 0;
    background: transparent;
    border-radius: 0;
    margin: 0;
    height: 48px;
    padding-left: 18px;
    width: calc(100% - 40px);
    min-width: initial;
    padding-right: 5px;
    position: relative;
    z-index: 2;
    text-align: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #7e7f82;
    font-size: 14px;
    font-weight: 500;
}

.btn.btn-default.dropdown-toggle.color-secondary {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: all 0.4s linear;
    text-transform: capitalize;
    -webkit-appearance: button;
    flex: 0 1 auto;
    box-shadow: none;
    overflow: hidden;
    z-index: 99;
    float: none;
    cursor: pointer;
    line-height: 48px;
    padding: 6px 8px 6px 8px;
    display: inline-block;
    right: auto;
    top: 0px;
    background: transparent;
    border-radius: 0;
    margin: 0;
    height: 48px;
    width: 40px;
    position: relative;
    border: 0;
    color: #7e7f82;
    font-size: 14px;
    font-weight: 500;
}

.glyphicon.glyphicon-menu-down {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    text-transform: capitalize;
    cursor: pointer;
    color: #7e7f82;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 8px;
}

.list_container.color-primary {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    z-index: 9999;
    background: white;
    margin-top: 6px;
    min-width: 215px;
    width: 100%;
    height: 0;
    border-top: 0;
    overflow: hidden;
    transition: all 0.4s linear;
    display: block !important;
}

.list_scroll {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 1px solid #e0e1e6;
    height: 204px;
}

.list_items {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0px;
    padding: 0 30px;
}

.input-group {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    display: table;
    width: 100%;
}

.form-control.color-secondary.search_term {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    overflow: visible;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    border: 0px;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    display: table-cell;
    padding: 6px;
    padding-left: 18px;
    outline: none !important;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.input-group-addon.color-secondary {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-left: 0px;
    display: table-cell;
    top: 0px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #6a7be7;
    color: #fff;
}

.loader-spiner.fa.fa-search {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
}

.menu-onmap.tabbed-selector {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #242526;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding: 0;
    margin: 0px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
    width: 100%;
    text-align: center;
}

.all-button.active {

    color: #242526;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}


.form_field.sf_input {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: left;
    flex: 1 2 auto;
}

.form-group.field_search_3 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    color: #242526;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0;
}

.drop-menu {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #242526;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    transition: all 0.4s linear;
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 14px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    margin: 8px 0px 6px 0px;
    border-left: 1px solid #e0e1e6;
    height: 51px;
    background: transparent;
}

.select {

    text-align: left;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
    padding: 10px;
    color: #7e7f82;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.fa.fa-angle-down {

    text-align: left;
    color: #7e7f82;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: all 0.4s linear;
    font-size: 14px;
    cursor: pointer;
    float: right;
    right: 10px;
    margin-top: 0;
    position: absolute;
}

#search_option_3 {

    box-sizing: border-box;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}

ul.dropeddown {

    color: #242526;
    text-align: left;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    margin: 0px;
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9999;
    background: #fff;
    list-style: none;
    padding: 0 30px;
    border: 1px solid #d3d3db;
    top: 112%;
    margin-top: 10px;
    border-radius: 15px;
}


.form_field.srch-btn.form_field_save {

    text-align: left;
    color: #242526;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: left;
    position: relative;
    width: initial;
    flex: 0 0 auto;
}

.btn.btn-outline-primary.sw-search-start {

    box-sizing: border-box;
    text-decoration: none;
    font: inherit;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    transition: all 0.4s linear;
    border-radius: 50px;
    margin: 7px 0px;
    padding: 0 36px;
    height: 51px;
    line-height: 51px;
    border: 0;
    font-size: 14px;
    color: #fff;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    z-index: 99;
    background-color: #6a7be7;
    float: none;
    cursor: pointer;
}

.la.la-search {

    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900 !important;
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 0;
    line-height: 1;
}

.fa.fa-spinner.fa-spin.fa-ajax-indicator.hidden {

    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    animation: fa-spin 2s infinite linear;
    display: none !important;
    position: absolute !important;
    top: 50% !important;
    font-size: 18px;
    margin-top: -10px;
    margin-left: 3px;
    margin-right: 0;
    line-height: 1;
}

