#map{
	background : none;
}

.miniature{
	width : 100px;
}

fieldset{
	width : 100%;
	margin : 20px 0;
}
.form-label{
	font-size: 12px;
	color: #67686c;
}

svg > path{ 
	fill: grey;
} 

.etiquette{
	font-size : 14px;
	padding : 0;
	color : darkBlue;
}
.etiquetteSelect{
	font-size : 16px;
	font-weight : bold;
	padding : 0;
	color : darkBlue;
	border : solid 2px;
	border-radius : 6px;
	background-color : #DDE3FD;
}
.etiquetteDep{
	font-size : 13px;
	padding : 0;
	color : MediumSlateBlue;
	background-color : transparent;
	border : none;
	box-shadow : none;
}

.icone:hover{
	filter: hue-rotate(90deg);
}

footer p{
	color : #bbbbbb;
}
footer img{
	width : 80%;
}

/*--------------------------------- Styles d'impression ---------------------------------------------*/	
.queprint{
	display : none;
	}